#watermark, .remove-this {
    display: none !important;
}

body {
    background: white !important;
}

* {
    font-family: "Rubik", sans-serif !important;
}

.post {
    background: transparent !important;
    font-size: 2.5em !important;
    padding: 0 0 1em 0 !important;
    border: none !important;
    z-index: 1 !important;
}

.userimage {
    width: 100px !important;
    height: 100px !important;
}

.postinner {
    padding-left: 0.5em !important;
    width: 100% !important;
}

.postinner * {
    color: black !important;
}

.the-username {
    font-size: 0.75em !important;
    margin-top: -6px !important;
}

.the-username a:first-child {
    text-transform: uppercase !important;
}

#updates {
    width: 90vw !important;
    padding-top: 19em !important;
}

span.settings {
    position: fixed !important;
    bottom: 1em !important;
    right: 1em !important;
    cursor: pointer !important;
    color: slategrey !important;
    z-index: 20 !important;
}

.NSPanel.hidden {
    opacity: 0 !important;
    pointer-event: none !important;
}

.top {
    background: #201b2d !important;
    padding: 2em 5vw !important;
    font-size: 1.25em !important;
    z-index: 100 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}

.top * {
    color: white !important;
}

.top h1 {
    font-weight: bold !important;
}

footer {
    background: black !important;
    border-top: 5px solid white !important;
    bottom: 0 !important;
    padding: 1em 5vw !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 10 !important;
}

footer img {
    height: 7.5vh !important;
}

